In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min
 
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

In [12]:
dataframe = pd.read_csv('DATASETHACKATHON.csv')
dataframe

      Id_Cliente id_Agencia  Frecuencia  Vol_Entrega        lat        lon
0              1         A1           1     2.000000  20.506052 -98.212377
1              2         A1           1    17.000000  20.458128 -98.221248
2              3         A1           1     2.000000  20.530427 -98.236860
3              4         A1           3    15.000000  20.488655 -98.202940
4              5         A1           1     2.000000  20.533253 -98.219669
5              6         A1           1    19.000000  20.531060 -98.182642
6              7         A1           1     6.000000  20.594012 -98.187500
7              8         A1           1    20.000000  20.489329 -98.166364
8              9         A1           1    15.000000  20.575100 -98.228100
9             10         A1           1    10.000000  20.580700 -98.269400
10            11         A1           1    45.000000  20.458076 -98.175466
11            12         A1           1     2.000000  20.490847 -98.184088
12            13         A1           2    13.000000  20.537454 -98.140527
13            14         A1           1    17.000000  20.523875 -98.238248
14            15         A1           1    21.000000  20.562590 -98.138353
15            16         A1           1    12.000000  20.543300 -98.228000
16            17         A1           2    13.500000  20.519419 -98.228799
17            18         A1           2     7.000000  20.539439 -98.231014
18            19         A1           1    11.000000  20.547675 -98.130903
19            20         A1           1    12.000000  20.571500 -98.258300
20            21         A1           1    20.000000  20.601800 -98.228700
21            22         A1           2    12.000000  20.534294 -98.163798
22            23         A1           2    10.000000  20.465644 -98.222902
23            24         A1           2    17.000000  20.499111 -98.128627
24            25         A1           2    15.000000  20.473419 -98.221992
25            26         A1           1    14.000000  20.554421 -98.157790
26            27         A1           3    18.333333  20.465444 -98.173468
27            28         A1           2    11.500000  20.502785 -98.164261
28            29         A1           2    23.500000  20.493008 -98.151931
29            30         A1           2    14.500000  20.497430 -98.145606
...          ...        ...         ...          ...        ...        ...
3595        3596         A1           1     1.000000  20.570813 -98.194821
3596        3597         A1           1     1.000000  20.519507 -98.220339
3597        3598         A1           1     2.000000  20.536774 -98.212955
3598        3599         A1           1    17.000000  20.495610 -98.152466
3599        3600         A1           1     9.000000  20.553000 -98.156900
3600        3601         A1           1     8.000000  20.544700 -98.122700
3601        3602         A1           1     3.000000  20.539655 -98.226042
3602        3603         A1           1     4.000000  20.500600 -98.194900
3603        3604         A1           1     2.000000  20.508876 -98.271799
3604        3605         A1           1    19.000000  20.571500 -98.133800
3605        3606         A1           1    16.000000  20.529960 -98.166058
3606        3607         A1           1     1.000000  20.543300 -98.129200
3607        3608         A1           1     2.000000  20.504251 -98.293776
3608        3609         A1           1    15.000000  20.461492 -98.207815
3609        3610         A1           1    15.000000  20.520626 -98.181103
3610        3611         A1           1    75.000000  20.520627 -98.189161
3611        3612         A1           1     5.000000  20.546699 -98.139006
3612        3613         A1           1    23.000000  20.534895 -98.167025
3613        3614         A1           1     2.000000  20.532000 -98.127800
3614        3615         A1           1     4.000000  20.545123 -98.163692
3615        3616         A1           1     0.000000  20.525839 -98.240284
3616        3617         A1           1    11.000000  20.516700 -98.174100
3617        3618         A1           1     1.000000  20.476400 -98.168600
3618        3619         A1           1    16.000000  20.535741 -98.182023
3619        3620         A1           1     1.000000  20.511046 -98.203215
3620        3621         A1           1    15.000000  20.558651 -98.149706
3621        3622         A1           1     2.000000  20.541300 -98.157300
3622        3623         A1           1     6.000000  20.509200 -98.128000
3623        3624         A1           1    31.000000  20.513400 -98.154500
3624        3625         A1           2    18.500000  20.521772 -98.166209

[3625 rows x 6 columns]

In [11]:
dataframe.describe()

        Id_Cliente   Frecuencia  Vol_Entrega          lat          lon
count  3625.000000  3625.000000  3625.000000  3625.000000  3625.000000
mean   1813.000000     1.097103    13.195724    20.508669   -98.189818
std    1046.591691     0.319449    20.158246     0.034647     0.044283
min       1.000000     1.000000     0.000000    20.435038   -98.298948
25%     907.000000     1.000000     2.000000    20.480661   -98.221491
50%    1813.000000     1.000000     6.000000    20.507537   -98.183900
75%    2719.000000     1.000000    15.000000    20.537206   -98.153300
max    3625.000000     3.000000   175.000000    20.608307   -98.108122